@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#card {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 20px;
  max-width: 350px;
  padding: 1.5rem;
  gap: 1rem;
  box-shadow: 10px 10px black;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#image {
  border-radius: 15px;
  width: 100%;
}

#tag {
  border-radius: 5px;
  width: fit-content;
  padding: 5px 10px;
  background-color: hsl(47, 88%, 63%);
  font-weight: 800;
}

#title {
  font-size: 1.5rem;
  font-weight: 800;
}

#title:hover {
  color: hsl(47, 88%, 63%);
}

#avatar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#profilePic {
  width: 2rem;
}

#name {
  font-size: 0.85rem;
  font-weight: 800;
}

#description {
  line-height: 1.5;
  color: hsl(0, 0%, 42%);
}
